<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="b04fc0fb3d66496b9f25c3a816c53f46" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_b04fc0fb3d66496b9f25c3a816c53f46 = echarts.init(
            document.getElementById('b04fc0fb3d66496b9f25c3a816c53f46'), 'white', {renderer: 'canvas'});
        var option_b04fc0fb3d66496b9f25c3a816c53f46 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "bar",
            "name": "\u6700\u9ad8\u4ef7",
            "data": [
                3.38,
                6.25,
                8.12,
                8.16,
                6.1,
                8.89,
                6.79,
                4.27,
                5.07,
                9.05,
                16.26
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        },
        {
            "type": "bar",
            "name": "\u6700\u4f4e\u4ef7",
            "data": [
                2.66,
                2.86,
                4.95,
                4.82,
                3.62,
                4.26,
                2.75,
                2.5,
                3.28,
                4.39,
                6.99
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        },
        {
            "type": "bar",
            "name": "\u5e73\u5747\u4ef7",
            "data": [
                2.88,
                4.17,
                6.14,
                6.12,
                4.32,
                5.7,
                3.52,
                3.22,
                3.97,
                6.41,
                9.19
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u6700\u9ad8\u4ef7",
                "\u6700\u4f4e\u4ef7",
                "\u5e73\u5747\u4ef7"
            ],
            "selected": {
                "\u6700\u9ad8\u4ef7": true,
                "\u6700\u4f4e\u4ef7": true,
                "\u5e73\u5747\u4ef7": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "2020",
                "2019",
                "2018",
                "2017",
                "2016",
                "2015",
                "2014",
                "2013",
                "2012",
                "2011",
                "2010"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "\u978d\u94a2\u80a1\u4efd",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_b04fc0fb3d66496b9f25c3a816c53f46.setOption(option_b04fc0fb3d66496b9f25c3a816c53f46);
    </script>
</body>
</html>
