<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="b799a377a6804b9c9101e4a4b702c8b8" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_b799a377a6804b9c9101e4a4b702c8b8 = echarts.init(
            document.getElementById('b799a377a6804b9c9101e4a4b702c8b8'), 'white', {renderer: 'canvas'});
        var option_b799a377a6804b9c9101e4a4b702c8b8 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "bar",
            "name": "\u6700\u9ad8\u4ef7",
            "data": [
                5.88,
                8.0,
                11.48,
                9.53,
                7.42,
                10.18,
                7.69,
                5.21,
                5.36,
                7.68,
                9.72
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        },
        {
            "type": "bar",
            "name": "\u6700\u4f4e\u4ef7",
            "data": [
                4.58,
                5.22,
                6.31,
                5.74,
                4.76,
                5.03,
                3.54,
                3.85,
                4.07,
                4.56,
                5.72
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        },
        {
            "type": "bar",
            "name": "\u5e73\u5747\u4ef7",
            "data": [
                5.14,
                6.4,
                8.28,
                7.37,
                5.52,
                6.71,
                4.4,
                4.43,
                4.72,
                5.95,
                6.84
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u6700\u9ad8\u4ef7",
                "\u6700\u4f4e\u4ef7",
                "\u5e73\u5747\u4ef7"
            ],
            "selected": {
                "\u6700\u9ad8\u4ef7": true,
                "\u6700\u4f4e\u4ef7": true,
                "\u5e73\u5747\u4ef7": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "2020",
                "2019",
                "2018",
                "2017",
                "2016",
                "2015",
                "2014",
                "2013",
                "2012",
                "2011",
                "2010"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "\u5b9d\u94a2\u80a1\u4efd",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_b799a377a6804b9c9101e4a4b702c8b8.setOption(option_b799a377a6804b9c9101e4a4b702c8b8);
    </script>
</body>
</html>
