<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="2bad3f2c385349029f633d2d2c2dfc20" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_2bad3f2c385349029f633d2d2c2dfc20 = echarts.init(
            document.getElementById('2bad3f2c385349029f633d2d2c2dfc20'), 'white', {renderer: 'canvas'});
        var option_2bad3f2c385349029f633d2d2c2dfc20 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "bar",
            "name": "\u6700\u9ad8\u4ef7",
            "data": [
                88.7,
                92.5,
                81.28,
                79.96,
                37.76,
                94.3,
                74.88,
                53.27,
                46.85,
                57.6,
                67.2
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        },
        {
            "type": "bar",
            "name": "\u6700\u4f4e\u4ef7",
            "data": [
                66.0,
                54.94,
                54.33,
                34.9,
                27.81,
                24.65,
                35.51,
                31.69,
                33.35,
                33.39,
                43.57
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        },
        {
            "type": "bar",
            "name": "\u5e73\u5747\u4ef7",
            "data": [
                77.19,
                81.95,
                63.84,
                50.74,
                32.91,
                55.88,
                44.11,
                39.5,
                40.81,
                43.78,
                50.91
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u6700\u9ad8\u4ef7",
                "\u6700\u4f4e\u4ef7",
                "\u5e73\u5747\u4ef7"
            ],
            "selected": {
                "\u6700\u9ad8\u4ef7": true,
                "\u6700\u4f4e\u4ef7": true,
                "\u5e73\u5747\u4ef7": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "2020",
                "2019",
                "2018",
                "2017",
                "2016",
                "2015",
                "2014",
                "2013",
                "2012",
                "2011",
                "2010"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "\u4e2d\u56fd\u5e73\u5b89",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_2bad3f2c385349029f633d2d2c2dfc20.setOption(option_2bad3f2c385349029f633d2d2c2dfc20);
    </script>
</body>
</html>
